* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline-style: none;
  outline: none;
}

html {
  font-size: 43.75%;
  scroll-behavior: smooth;
}

section:not(.horizontal-scroll) {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 50px 10vw;
  margin: auto;
  place-items: center;
}

.horizontal-scroll {
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
}

.pin-wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 10vw;
}

.pin-wrap > * {
  padding: 0 5vw;
}

img {
  width: 100%;
  max-width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-height: 640px) {
  img {
    max-width: 250px;
  }
}

body {
  background-color: #EF3E36;
  color: #000;
  font-family: montserrat, sans-serif;
  font-size: 1.5rem;
}

.header__heading {
  font-family: termina, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 6rem;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  line-height: 8rem;
}

.caption {
  font-family: montserrat, sans-serif;
  font-weight: 900;
}

.caption__heading {
  letter-spacing: 3.5px;
  font-size: 10rem;
}

.features__heading {
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.btn {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 90%;
  background-color: white;
  display: inline-block;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

@media (max-height: 812px) {
  .btn {
    top: 100%;
  }
}

.btn-download svg {
  margin-top: 2.5rem;
}

.btn-download::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 1;
}

.btn-download:hover::after, .btn-download:visited::after, .btn-download:focus::after, .btn-download:focus-visible::after {
  -webkit-transform: scaleX(2) scaleY(2);
          transform: scaleX(2) scaleY(2);
  opacity: 0;
  background-color: red;
}

.header {
  position: relative;
  height: 100vh;
  margin-bottom: 10rem;
}

.header__heading {
  position: absolute;
  top: 10vw;
  left: 10vw;
  z-index: 1;
}

.header__heading-span {
  display: block;
}

.header__heading-span:last-child {
  left: 10;
}

.header__mobile-view {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__mobile-view .caption-container {
  position: absolute;
  top: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
}

.header__mobile-view .caption {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  text-align: center;
  white-space: nowrap;
}

.header__mobile-view .caption .reverse {
  -webkit-animation: infinteReverseText 10s linear infinite;
          animation: infinteReverseText 10s linear infinite;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__mobile-view .caption .uphold {
  -webkit-animation: infiniteText 10s linear infinite;
          animation: infiniteText 10s linear infinite;
}

.header__mobile-view .caption__heading {
  position: relative;
  white-space: nowrap;
  -webkit-text-stroke: 3px #1b1111;
  color: transparent;
}

.header__mobile-view .caption:nth-child(2) .caption__heading {
  top: 20vw;
}

@media (max-height: 812px) {
  .header__mobile-view .caption:nth-child(2) .caption__heading {
    top: 30vw;
  }
}

@-webkit-keyframes infinteReverseText {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-5.2%);
            transform: translateX(-5.2%);
  }
}

@keyframes infinteReverseText {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-5.2%);
            transform: translateX(-5.2%);
  }
}

@-webkit-keyframes infiniteText {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes infiniteText {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.header__mobile-view .caption:last-child {
  top: 40vw;
}

@media (max-height: 812px) {
  .header__mobile-view .caption:last-child {
    top: 60vw;
  }
}

.header__mobile-view__img {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 15vw;
}

@media (max-height: 812px) {
  .header__mobile-view__img {
    top: 30vw;
  }
}

@media (min-width: 1200px) {
  .header__mobile-view {
    display: none;
  }
}

.features {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__homescreen, .features__superiorsettings, .features__updater {
  padding: 10vw 0;
}

.features__homescreen .features__homescreen-img,
.features__superiorsettings .features__superiorsettings-img,
.features__updater .features__updater-img {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2vw 0;
}

.features__homescreen h2,
.features__superiorsettings h2,
.features__updater h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  font-family: termina, sans-serif;
  -webkit-animation: strokeLoop 0.5s linear infinite;
          animation: strokeLoop 0.5s linear infinite;
}

@-webkit-keyframes strokeLoop {
  0% {
    color: #fff;
  }
  20% {
    color: #EF3E36;
  }
  40% {
    color: #FFFB46;
  }
  60% {
    color: #DE4D86;
  }
  80% {
    color: #090C9B;
  }
  100% {
    color: #fff;
  }
}

@keyframes strokeLoop {
  0% {
    color: #fff;
  }
  20% {
    color: #EF3E36;
  }
  40% {
    color: #FFFB46;
  }
  60% {
    color: #DE4D86;
  }
  80% {
    color: #090C9B;
  }
  100% {
    color: #fff;
  }
}

.features__homescreen p,
.features__superiorsettings p,
.features__updater p {
  font-size: 2rem;
  letter-spacing: 0.5px;
  font-weight: 900;
  line-height: 1.5;
}

.features__heading {
  text-align: center;
  margin-bottom: 5rem;
}

.nav {
  padding: 2rem;
  background-color: #200707;
  position: fixed;
  bottom: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

@media (min-width: 980px) {
  .nav {
    display: none;
  }
}

.link {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 50px;
  border-radius: 99em;
  position: relative;
  z-index: 10;
  overflow: hidden;
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  text-decoration: none;
  color: inherit;
}

.link:before {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border-radius: 99em;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  background-color: #2a0f0f;
}

.link:hover, .link:focus {
  outline: 0;
  width: 140px;
}

@media (max-height: 812px) {
  .link:hover, .link:focus {
    width: 100px;
  }
}

.link:hover:before,
.link:hover .link-title, .link:focus:before,
.link:focus .link-title {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.link-icon {
  width: 28px;
  height: 28px;
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  left: 18px;
  position: absolute;
}

.link-icon svg {
  width: 20px;
  height: 20px;
}

.link-title {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  display: block;
  text-align: center;
  text-indent: 28px;
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
}

@media (min-width: 580px) {
  .link-title {
    font-size: 2rem;
  }
}

.screenshots:hover,
.screenshots:focus {
  text-align: right;
  width: 180px;
}

@media (max-height: 812px) {
  .screenshots:hover,
  .screenshots:focus {
    width: 135px;
  }
}

.screenshots .link-title {
  margin-left: 1rem;
}
/*# sourceMappingURL=style.css.map */