.features {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  align-items: center;

  &__homescreen,
  &__superiorsettings,
  &__updater {
    padding: 10vw 0;
  }

  &__homescreen &__homescreen-img,
  &__superiorsettings &__superiorsettings-img,
  &__updater &__updater-img {
    max-width: 400px;
    margin: 0 auto;
    padding: 2vw 0;

    @media (min-width: 1000px) {
      display: none;
    }
  }

  &__homescreen h2,
  &__superiorsettings h2,
  &__updater h2 {
    @include PsychedelicHeading($termina-font, $secondary-heading);
  }

  &__homescreen p,
  &__superiorsettings p,
  &__updater p {
    font-size: $tertiary-heading;
    letter-spacing: 0.5px;
    font-weight: 900;
    line-height: 1.5;
    @media (min-width: 1000px) {
      display: none;
    }
  }

  &__heading {
    text-align: center;
    margin-bottom: 5rem;
  }
}
