.footer {
  width: 100%;
  height: 50vh;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20rem;

  @media (min-width: 1000px) {
    display: none;
  }

  &__container {
    display: flex;
    height: 20%;
    flex-direction: column;
    justify-content: space-around;
  }

  &__copyright {
    span:last-child {
      font-weight: $bold;
      color: $team-color; // used here
    }
  }

  &__credit {
    &-link {
      animation: strokeLoop 0.5s linear infinite;
      transition: all 0.2s ease-in-out;
      margin-top: 1rem;
      display: inline-block;

      &:hover,
      &:focus,
      &:active {
        display: inline-block;
        animation-play-state: paused;
        @include linkHover;
      }
    }
    a {
      &:hover,
      &:focus,
      &:active {
        animation-play-state: paused;
        @include linkHover;
      }
    }
  }

  &__nav {
    list-style: none;
    list-style-type: none;
    width: 70%;
    margin: 0 15% 0 15%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    grid-gap: 40px;
    margin-bottom: 20rem;

    &-link {
      &:hover {
        @include linkHover;
      }
    }
  }
}

#color {
  stroke: $team-color; // used here
  stroke-width: 3px;
  fill: none;
  display: inline-block;
  transform: translateY(10px) scale(0);
}

#color path {
  animation: beat 1s infinite forwards;
  animation-play-state: paused;
  transform-origin: center;
}

@keyframes beat {
  0%,
  to {
    transform: scale(1);
  }
  5% {
    transform: scale(1.1);
  }
  27% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.1);
  }
  57% {
    transform: scale(1);
  }
}
