main {
  position: relative;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.message {
  background: var(--color-text);
  color: var(--color-bg);
  padding: 1rem;
  text-align: center;
}
.frame {
  padding: 1.5rem;
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  a {
    pointer-events: auto;
  }

  &__subtitle {
    font-family: $termina-font;
    font-weight: $black;
    font-size: 5rem;
    margin: 1.5rem 0 1rem;
  }

  &__indicator {
    background: $color-copy;
    width: 5rem;
    height: 0.5rem;
    transform-origin: 0 50%;
  }
}

.strip-outer {
  width: 100%;
  height: 100vh;
  min-height: 750px;
  margin: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: none;
}
.strip-inner {
  position: relative;
  top: 0;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
}
.draggable {
  height: 430px;
  top: calc(50% - 200px);
  width: 100%;
  position: absolute;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }

  @media (min-width: 1000px) {
    height: 500px;
    top: calc(50% - 250px);
  }
}
.strip {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: start;
  position: relative;
  pointer-events: none;
  will-change: transform;
  top: 0;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;

  &__item {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    will-change: transform;

    &-number {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &-link {
      pointer-events: auto;
      cursor: pointer;
      display: block;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 160%;
        height: 120%;
        left: -30%;
        top: -10%;
      }
      span {
        color: $team-color;
        font-family: $termina-font;
        font-size: 2.5rem;
        font-weight: $black;
        display: block;

        &:hover {
          color: $white-color
        }
      }
      &:hover {
        + {
          .strip__item-plus {
            display: block;
          }
        }
      }
    }

    &-plus {
      display: none;
      width: 13px;
      height: 13px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='13' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7 6h6v1H7v6H6V7H0V6h6V0h1v6z' fill='%23505050'/%3e%3c/svg%3e");
      background-size: 100%;
    }
  }
}

.img-outer--content {
  height: 100% !important;
  width: auto !important;
  grid-area: content-img;

  .img-inner--content {
    background-position: 50% 35%;
  }
}

.img-outer {
  --imgheight: 450px;
  height: var(--imgheight);
  width: calc(var(--imgheight) * 0.7);
  overflow: hidden;
  position: relative;
  flex: none;

  .img-inner {
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    left: -20px;
    top: -20px;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
  }
}

.img-outer--size-s {
  --imgheight: 300px;
}

.img-outer--size-m {
  --imgheight: 360px;
}

.img-outer--size-l {
  --imgheight: 390px;
}

.img-outer--size-xl {
  --imgheight: 420px;
}

.strip-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $team-color;
  pointer-events: none;
  opacity: 0;

  &__title {
    font-family: $centrion-font;
    font-size: 12rem;
    text-align: center;
    margin: 0;
    line-height: 1;
    color: $team-color;
  }

  &__subtitle {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }
}

.content {
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 1000;

  &__item {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    display: grid;
    align-items: center;
    grid-template-rows: 50% 40% 10%;
    grid-column-gap: 0;
    grid-template-areas: "content-img" "content-copy" "...";
    display: none;

    &-title {
      font-weight: normal;
      color: $team-color;
      will-change: transform;
    }

    &-copy {
      grid-area: content-copy;
      padding: 1.5rem 2rem;
      color: $color-copy;
      will-change: transform;
    }

    &-text {
      margin: 0;
    }
  }

  &__close {
    display: block;
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    color: inherit;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    position: absolute;
    bottom: 15rem;
    left: 4rem;
    will-change: transform;
    svg {
      fill: currentColor;
    }
    &:focus {
      outline: none;
      color: $white-color;
    }
    &:hover {
      outline: none;
      color: $white-color;
    }
  }
}

.content__item--current {
  ~ {
    .content__close {
      pointer-events: auto;
    }
  }
}

.cursor__side {
  will-change: transform;
}

@media screen and (min-width: 53em) {
  .frame {
    position: absolute;
    top: 0;
    z-index: 10000;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: none;
    height: 100vh;
    padding: 1.25rem 3rem;
    pointer-events: none;

    &__subtitle {
      grid-area: sub-title;
      justify-self: end;
      margin: 0;
    }

    &__indicator {
      grid-area: indicator;
      margin: 2rem 0;
    }
  }

  .content__item {
    top: 0;
    grid-template-columns: 40% 45% 15%;
    grid-template-rows: 100%;
    grid-template-areas: "content-copy content-img ... ";

    &-copy {
      max-width: 240px;
      justify-self: end;
      align-self: end;
      text-align: right;
    }
  }

  .strip-cover__title {
    font-size: 10vw;
    -webkit-text-stroke: 2px $team-color;
  }
  .strip-cover__subtitle {
    font-size: 3rem;
  }

  .strip__item-link {
    span {
      font-weight: $bold;
      font-size: 1.5rem;
    }
  }

  .content__close {
    bottom: 5rem;
  }
}

@media (any-pointer: fine) {
  .cursor {
    display: block;
  }
  .cursor__inner {
    z-index: 9999;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    border-radius: 50%;

    &--circle {
      width: 25px;
      height: 25px;
      border: 1px solid $white-color;
    }
  }
  .cursor__side {
    position: absolute;
    top: 50%;
    width: 5px;
    height: 1px;
    background: $white-color;
    opacity: 0;

    &--left {
      right: calc(100% + 5px);
    }

    &--right {
      left: calc(100% + 5px);
    }
  }
}
