* {
  box-sizing: border-box;
  outline-style: none;
  outline: none;
}

html {
  font-size: 43.75%;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
}

section:not(.horizontal-scroll) {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 50px 10vw;
  margin: auto;
  place-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  max-width: 350px;
  object-fit: cover;

  @media (max-height: 640px) {
    max-width: 250px;
  }
}

.horizontal-scroll {
  @media (min-width: 1200px) {
    height: 100vh;
    overflow: hidden;
    display: flex;
    left: 0;
  }
}

.pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;

  & > * {
    padding: 0 5vw;
  }
}

.cursor {
  display: none;
}

.js {
  .content {
    pointer-events: none;
  }
  .content__item {
    height: 100%;
    opacity: 0;
    pointer-events: none;
  }
  .content__item--current {
    pointer-events: auto;
    opacity: 1;
    top: 0;
    display: grid;
  }
}
