* {
  box-sizing: border-box;
  outline-style: none;
  outline: none;
}

html {
  font-size: 43.75%;
  scroll-behavior: smooth;
}

section:not(.horizontal-scroll) {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 50px 10vw;
  margin: auto;
  place-items: center;
}

.horizontal-scroll {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
}
.pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;

  & > * {
    padding: 0 5vw;
  }
}

img {
  width: 100%;
  max-width: 350px;
  object-fit: cover;

  @media (max-height: 640px) {
    max-width: 250px;
  }
}
