body {
  overflow-x: hidden;
  width: 100vw;
  background-color: $body-bgcolor;
  color: $body-color;
  font-family: $montserrat-font;
  font-size: 1.5rem;
}

.header__heading {
  font-family: $termina-font;
  font-weight: 900;
  font-style: normal;
  font-size: 6rem;
  overflow-wrap: break-word;
  hyphens: auto;
  line-height: 8rem;
}

.caption {
  font-family: montserrat, sans-serif;
  font-weight: 900;

  &__heading {
    letter-spacing: 3.5px;
    font-size: $caption-size;
  }
}

.features {

  &__heading {
    font-size: $heading;
    font-weight: 900;
    letter-spacing: 1px;
  }
}

.heading {
  font-size: $heading;
  font-weight: 900;
  letter-spacing: 1px;
  text-align: center;
}