@mixin PsychedelicHeading($font, $heading-size) {
  text-align: center;
  font-size: $heading-size;
  font-weight: 900;
  font-family: $font;
  animation: strokeLoop .5s linear infinite;

  @keyframes strokeLoop {
    0% {
      color: $white-color;
    }
    20% {
      color: $body-bgcolor;
    }
    40% {
      color: $yellow-color;
    }
    60% {
      color: $pink-color;
    }
    80% {
      color: $blue-color;
    }
    100% {
      color: $white-color;
    }
  }
}

@mixin linkHover {
  font-weight: $heavy;
  transition: all .1s ease-in;
  transform: scale(1.1);
}