// Fonts
$termina-font: termina, sans-serif;
$montserrat-font: montserrat, sans-serif;
$centrion-font: "Centrion";

// Fonts Size
$caption-size: 10rem;
$icon-title: 2rem;
$icon-size-sm: 1.5rem;
$heading: 6rem;
$secondary-heading: 4rem;
$tertiary-heading: 2rem;

$icon-size: 20px;
$icon-size-m: 30px;

// Font Weight
$normal: 400;
$bold: 700;
$heavy: 800;
$black: 900;

// Colors
$white-color: #fff;
$body-color: #000;
$body-bgcolor: #f85950;
$nav-bgcolor: #200707;
$link-bgcolor: #2a0f0f;
$yellow-color: #FFFB46;
$pink-color: #DE4D86;
$blue-color: #090C9B;
$color-copy: #767676;