// Fonts
$termina-font: termina, sans-serif;
$montserrat-font: montserrat, sans-serif;
$caption-size: 10rem;
$icon-title: 2rem;
$icon-size-sm: 1.5rem;

$icon-size: 20px;
$icon-size-m: 30px;

// Colors
$white-color: #fff;
$body-color: #000;
$body-bgcolor: #EF3E36;
$nav-bgcolor: #200707;
$link-bgcolor: #2a0f0f;